@page
@model ErrorModel
@{
    ViewData["Title"] = "ERROR";
}


<p>INVALID OPERATION - the service only functions either without any parameters or with the parameter "time", used with or without a value</p>
