@page
@model IndexModel
@{
    ViewData["Title"] = "zad3";
}

<html lang="en">
<head>
    <meta charset="UTF-8">>
</head>
<body>
<div id="links">
    <a href="/date">Date</a><br>
    <a href="/Hangman">Hangman</a>
</div>
<form method="post" asp-page="/Hangman">
    <input  name="operand1">
    <input type="submit" name="submitHangman">
</form>
</body>
</html>

